* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.contactdiv {
    height: 100vh;
    background-color: blue;
    padding-top: 40px;
}

.contactdiv h1 {
    margin: 0;
}

.maindiv {
    height: 100vh;
    background-color: green;
    padding-top: 40px;
}

.aboutmediv {
    height: 100vh;
    background-color: purple;
    padding-top: 40px;
}

.aboutmediv h1 {
    margin: 0;
}